# If date is not present we can add custome date columns

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('AAPL_NoDate.csv')

In [7]:
df

          Open        High         Low       Close   Adj Close    Volume
0   216.800003  217.190002  214.029999  215.039993  215.039993  26159800
1   214.100006  216.360001  213.839996  215.050003  215.050003  19018100
2   214.649994  217.050003  214.600006  215.490005  215.490005  18883200
3   216.600006  216.899994  215.110001  216.160004  216.160004  18476400
4   217.149994  218.740005  216.330002  217.940002  217.940002  20525100
5   219.009995  220.539993  218.919998  219.699997  219.699997  22776800
6   220.149994  223.490005  219.410004  222.979996  222.979996  27254800
7   223.250000  228.259995  222.399994  225.029999  225.029999  48793800
8   226.509995  228.869995  226.000000  227.630005  227.630005  43340100
9   228.410004  229.179993  226.630005  228.360001  228.360001  27390100
10  228.990005  229.669998  225.100006  226.869995  226.869995  33333000
11  226.229996  227.350006  221.300003  223.100006  223.100006  34290000
12  221.850006  225.369995  220.710007  221.300003  221.300003  37619800
13  220.949997  221.850006  216.470001  218.330002  218.330002  39516500
14  218.009995  224.300003  216.559998  223.850006  223.850006  35749000
15  224.940002  225.000000  219.839996  221.070007  221.070007  49278700
16  223.520004  228.350006  222.570007  226.410004  226.410004  41706400
17  225.750000  226.839996  222.520004  223.839996  223.839996  31999300
18  222.149994  222.949997  217.270004  217.880005  217.880005  37195100
19  217.789993  221.850006  217.119995  218.240005  218.240005  31571700
20  218.500000  219.619995  215.300003  218.369995  218.369995  27123800
21  220.240005  222.279999  219.149994  220.029999  220.029999  26460800

setting frequency as Bussiness day

In [12]:
date=pd.date_range(start='8/21/2018',end='9/19/2018',freq='B')

In [13]:
df.set_index(date,inplace=True)

In [14]:
df

,Open,High,Low,Close,Adj Close,Volume
2018-08-21,216.800003,217.190002,214.029999,215.039993,215.039993,26159800
2018-08-22,214.100006,216.360001,213.839996,215.050003,215.050003,19018100
2018-08-23,214.649994,217.050003,214.600006,215.490005,215.490005,18883200
2018-08-24,216.600006,216.899994,215.110001,216.160004,216.160004,18476400
2018-08-27,217.149994,218.740005,216.330002,217.940002,217.940002,20525100
2018-08-28,219.009995,220.539993,218.919998,219.699997,219.699997,22776800
2018-08-29,220.149994,223.490005,219.410004,222.979996,222.979996,27254800
2018-08-30,223.250000,228.259995,222.399994,225.029999,225.029999,48793800
2018-08-31,226.509995,228.869995,226.000000,227.630005,227.630005,43340100
2018-09-03,228.410004,229.179993,226.630005,228.360001,228.360001,27390100
2018-09-04,228.990005,229.669998,225.100006,226.869995,226.869995,33333000
2018-09-05,226.229996,227.350006,221.300003,223.100006,223.100006,34290000
2018-09-06,221.850006,225.369995,220.710007,221.300003,221.300003,37619800
2018-09-07,220.949997,221.850006,216.470001,218.330002,218.330002,39516500
2018-09-10,218.009995,224.300003,216.559998,223.850006,223.850006,35749000
2018-09-11,224.940002,225.000000,219.839996,221.070007,221.070007,49278700
2018-09-12,223.520004,228.350006,222.570007,226.410004,226.410004,41706400
2018-09-13,225.750000,226.839996,222.520004,223.839996,223.839996,31999300
2018-09-14,222.149994,222.949997,217.270004,217.880005,217.880005,37195100
2018-09-17,217.789993,221.850006,217.119995,218.240005,218.240005,31571700
2018-09-18,218.500000,219.619995,215.300003,218.369995,218.369995,27123800
2018-09-19,220.240005,222.279999,219.149994,220.029999,220.029999,26460800